.App {
  text-align: center;
}

.App-content-container {
  margin-top: 56px;
}

.App-footer-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-nav-link {
  color: inherit;
}

.App-nav-link:hover {
  color: inherit;
  text-decoration: none;
}
